@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

:root {
  --main-color: #0f4f81;
  --submain-color: #006b6d;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}

body {
  background-color: #eceff1;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}