nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 35px;
  background-color: rgba(244, 244, 244);
  opacity: 0.9;
  border-bottom: 1px solid #ddd;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1500;
}

a {
  text-decoration: none;
  color: #0f4f81;
}

nav .nav-left {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

nav .nav-right {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
nav .nav-right ul {
  height: 29px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-right ul li {
  list-style-type: none;
}

nav .nav-right ul li a {
  text-decoration: transparent;
  color: #0f4f81;
  display: flex;
  padding: 7px 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s linear;
}

nav .nav-right a:hover {
  font-size: 16px;
  padding: 7px 18px;
}

#top {
  border-bottom-color: #0f4f81;
}

#edu:hover {
  padding: 7px 17px 7px 18px;
}
.active {
  border-bottom-color: #0f4f81;
}

.arrow {
  display: none;
  cursor: pointer;
  background-color: #0f4f81;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 500;
  box-shadow: 0 0 2px #eceff1;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  nav .nav-left {
    font-size: 15px;
  }
  nav .nav-right {
    font-size: 12px;
  }
  nav .nav-right ul li a {
    padding: 7px 15px;
  }
  nav .nav-right a:hover {
    font-size: 13px;
    padding: 7px 13.5px;
  }
  #edu:hover {
    padding: 7px 12.5px;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 10px 20px;
    height: 50px;
  }
  nav .nav-left {
    font-size: 13px;
  }
  nav .nav-right {
    font-size: 10px;
  }
  nav .nav-right ul li a {
    padding: 4px 6px;
  }
  nav .nav-right a:hover {
    font-size: 11px;
    padding: 4px 4.5px;
  }
  #edu:hover {
    padding: 4px 3.5px;
  }
}
@media (max-width: 400px) {
  nav {
    padding: 8px 10px;
    height: 40px;
  }
  nav .nav-left {
    font-size: 11px;
  }
  nav .nav-right {
    font-size: 8px;
  }
}
